<!DOCTYPE html>
<html>
    <head>
        <title>Some website</title>
    </head>
    <body>
        <h1>{{pageTitle}}</h1>
        <p>{{welcomeMessage}}</p>
        <footer>
            <p>copy right {{currentYear}}</p>
        </footer>
    </body>
</html>